<!DOCTYPE html>
<html>
<head>
  <title>Survey Table</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/userrecord.css"/>
</head>
<style>
    
  ul.nav {
      margin:-20px;
      padding:0;
      list-style:none;
      height:70px; line-height:60px;
      background:#FAEBEFFF; /* you can change the backgorund color here. */
      font-family:Arial, Helvetica, sans-serif;
      font-size:19px;
      font-weight: bold;
  }
  ul.nav li {
       /* you can change the border color matching to your background color */
      float:right;
      font-family: "Lucida Console", Courier, monospace;
  }
  ul.nav a {
      display:block;
      padding:0 28px;
      color: black;
      text-decoration:none;
  }
  ul.nav a:hover,
  ul.nav li.current a {
      background: #333D79FF;
      color: #FAEBEFFF;
  }
</style>
<header>
  <ul class="nav">
    <li style="float: left;margin-top: -20px;"><a><h2>Admin</h2></a></li>
      <li><a href="http://localhost:8000/userinterface" class="nav-link active">Insert User</a></li>
    <li><a href="http://localhost:8000/displayuser" class="nav-link active">User List</a></li>
    <li><a href="http://localhost:8000/surveyinterface" class="nav-link active">Insert Survey</a></li>
    <li><a href="http://localhost:8000/displaysurveyrecord/" class="nav-link active">Survey List</a></li>

    </ul>
</header>
</body style="backgorund: #FAEBEFFF;">
<div class="maincontainer">
<div class="box">
    <table class="table center">
        <thead>
            <tr>
                <th>Survey Id</th>
                <th>title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>Ending Date</th>
                <th>Insert</th>  
                <th>View</th>  
        </tr>
            </tr>
        </thead>
        <tbody>
            {% for row in record %}
            <tr><td data-label="Id">{{ row.surveyid }}</td>
                <td data-label="title">{{ row.title }}</td>
                <td data-label="Description">{{ row.description }}</td>
                <td data-label="Start Date">{{ row.sdate }}</td>
                <td data-label="End Date">{{ row.edate }}</td>
                <td data-label="View"><input type="button" value="Insert/Update" style="background-color: #333D79FF;color: #FAEBEFFF; height:40px;width: 130px;font-size: 19px;border-radius: 10px;cursor:pointer;" class="insertbtn" sid="{{ row.surveyid }}" qone="{{ row.q1 }}" qtwo="{{ row.q2 }}" qthree="{{ row.q3 }}" qfour="{{ row.q4 }}"></td>
                <td data-label="View"><input type="button" value="View" style="background-color: #333D79FF;color: #FAEBEFFF; height:40px;width: 130px;font-size: 19px;border-radius: 10px;cursor:pointer;" class="viewbtn" sid="{{ row.surveyid }}" qone="{{ row.q1 }}" qtwo="{{ row.q2 }}" qthree="{{ row.q3 }}" qfour="{{ row.q4 }}"></td>
                
              </tr>
                      {% endfor %}
        </tbody>
      </table>
<input type="hidden" id="surveyid">
</div>
</div>
</body>
</html>
{% comment %} <script>
$(document).ready(function() {
  alert("ccc") 
    $('.viewbtn').click(function(){
      alert("ccc") 
        $('#surveyid').val($(this).attr('sid'))
        //alert($('#categoryid').val())
       $.getJSON('http://localhost:8000/insertsurveyquestion',{surveyid:$('#surveyid').val()},function(data){
       if(data.result)
       {
         $('#message').html("Category Updated Successfully..")
       }
       else
       {
         $('#message').html("Fail to Update Category")
       }
    
       })
    
      })
})
</script> {% endcomment %}
<script>
  $(document).ready(function() {
    $('.insertbtn').click(function(){

        var id=$(this).attr('sid')
        var q1=$(this).attr('qone')
        var q2=$(this).attr('qtwo')
        var q3=$(this).attr('qthree')
        var q4=$(this).attr('qfour')
        alert(id)
        localStorage.setItem("id",id)
        localStorage.setItem("q1",q1)
        localStorage.setItem("q2",q2)
        localStorage.setItem("q3",q3)
        localStorage.setItem("q4",q4)
        window.location.href="http://localhost:8000/insertsurveyquestion"
    
    
    })
    $('.viewbtn').click(function(){

      var id=$(this).attr('sid')
      var q1=$(this).attr('qone')
      var q2=$(this).attr('qtwo')
      var q3=$(this).attr('qthree')
      var q4=$(this).attr('qfour')
      alert(id)
      localStorage.setItem("id",id)
      localStorage.setItem("q1",q1)
      localStorage.setItem("q2",q2)
      localStorage.setItem("q3",q3)
      localStorage.setItem("q4",q4)
      window.location.href="http://localhost:8000/viewsurveyquestion"
  
  
  })
    })
</script>